html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Adding custom bullet */
li {
  list-style-image: url("/images/skate-bullet.svg");
}

/* Adding hero */
.hero {
  /* Background image is responsive and should scale to fit any screen */
  /* Help for this from stackoverflow: https://stackoverflow.com/a/20023286 */
  background-image: url("../images/hero.png");
  width: 100vw;
  height: 100vh;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  background-position:center;
}

/* --------------------------------------------------------------------------------
Scroll container on Browse/Search, Details
-------------------------------------------------------------------------------- */

.events {
  max-height: 74vh;
  overflow-y: scroll;
}

.details {
  margin-top: 20px;
  max-height: 76vh;
  overflow-y: scroll;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

