.nav {
  /* flex box layout */
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.logo {
  padding-bottom: 25px;
}